name: Docker CI/CD to Render

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Docker Hub Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t nob0t/my-electrobay-backend:latest ./backend

      - name: Push Docker image
        run: |
          docker push nob0t/my-electrobay-backend:latest

      - name: Trigger Render Deploy
        uses: fjogeleit/http-request-action@v1
        with:
          url: https://api.render.com/deploy/srv-${{ secrets.RENDER_SERVICE_ID }}
          method: POST
          headers: |
            Authorization: Bearer ${{ secrets.RENDER_API_KEY }}
            Content-Type: application/json
          body: '{"clearCache":true}'
